@use "sass:math";

$width: 800px;
$aspect-ratio: math.div(16, 9);

.canvas-container {
   width: $width;
   height: calc($width / $aspect-ratio);
   margin-left: auto;
   margin-right: auto;

   canvas {
      width: 100%;
      aspect-ratio: $aspect-ratio;
      display: block;
      touch-action: none;
      cursor: grab;
   }
}