@use "sass:math";

$aspect-ratio: math.div(16, 9);

.canvas-container {
   width: 90%;
   aspect-ratio: $aspect-ratio;
   margin-left: auto;
   margin-right: auto;

   canvas {
      width: 100%;
      aspect-ratio: $aspect-ratio;
      display: block;
      touch-action: none;
      cursor: grab;
   }
}